<!DOCTYPE html>
<html lang="en" ng-app="dictExplore">
<head>
	<title>Dictionary Explorer</title>
</head>
<body ng-controller="UIController">
	<div>{{test}}</div>
	<button ng-click="click()">button</button>



	<!-- Socket.io -->
	<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>

	<!-- Angular JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script type="text/javascript" src="js/angularApp.js"></script>
	<script type="text/javascript" src="https://d3js.org/d3.v3.min.js"></script>
	<script type="text/javascript" src="javascripts/datavisual.js"></script>
</body>
</html>